:root {
  --sheng-self-height: 740px;
  --sheng-self-simulation-grid-height: 740px;
  --sheng-self-simulation-list-head-height: 40px;
  --sheng-self-simulation-list-height: 700px;
}

body {
  -webkit-user-select: none; /* Chrome/Safari/Edge */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge 旧版 */
  user-select: none; /* 标准属性 */
}

.text-align-center {
  text-align: center;
}

.display-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-item-center {
  align-items: center;
}

.max-height-width {
  height: 100%;
  width: 100%;
}

.max-height {
  height: 100%;
}

.max-width {
  width: 100%;
}

.flex-direation-row {
  flex-direction: row;
}

.flex-direation-col {
  flex-direction: column;
}

.flex-direation-row-re {
  flex-direction: row-reverse;
}

.flex-direation-col-re {
  flex-direction: column-reverse;
}

.padding-0 {
  padding: 0;
}

.margin-0 {
  margin: 0;
}

.flex-grow-1 {
  flex-grow: 1;
}

.container {
  height: var(--sheng-self-height);
}

.position-relative {
  position: relative;
}

.sim-inner-btn {
  background-color: #8bc34a;
  margin-top: 3px;
}

.sim-outer-btn {
  background-color: #e51c23;
  margin-top: 3px;
}


.cell-img {
  width: 100%;
  height: 100%;
  background-color: #2F3B48;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 24 24' fill='%234CAF50'><path d='M12 2l7 7h-4v11h-6V9H5z'/></svg>");
  background-size: 60% 60%;
  background-repeat: no-repeat;
  background-position: center;
}